[submodule "bundle/wombat256.vim"]
	path = bundle/wombat256.vim
	url = https://github.com/vim-scripts/wombat256.vim.git
	ignore = dirty
[submodule "bundle/a.vim"]
	path = bundle/a.vim
	url = https://github.com/vim-scripts/a.vim.git
	ignore = dirty
[submodule "bundle/AutoTag"]
	path = bundle/AutoTag
	url = https://github.com/vim-scripts/AutoTag.git
	ignore = dirty
[submodule "bundle/minibufexpl.vim"]
	path = bundle/minibufexpl.vim
	url = https://github.com/fholgado/minibufexpl.vim.git
	ignore = dirty
[submodule "bundle/vim-git"]
	path = bundle/vim-git
	url = https://github.com/tpope/vim-git.git
	ignore = dirty
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
	ignore = dirty
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
	ignore = dirty
[submodule "bundle/xoria256.vim"]
	path = bundle/xoria256.vim
	url = https://github.com/vim-scripts/xoria256.vim
	ignore = dirty
[submodule "bundle/gundo.vim"]
	path = bundle/gundo.vim
	url = https://github.com/sjl/gundo.vim.git
	ignore = dirty
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
	ignore = dirty
[submodule "bundle/IndexedSearch"]
	path = bundle/IndexedSearch
	url = https://github.com/vim-scripts/IndexedSearch.git
	ignore = dirty
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
	ignore = dirty
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
	ignore = dirty
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
	ignore = dirty
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
	ignore = dirty
#[submodule "bundle/matchit.zip"]
#	path = bundle/matchit.zip
#	url = https://github.com/vim-scripts/matchit.zip.git
#	ignore = dirty
[submodule "bundle/python_match.vim"]
	path = bundle/python_match.vim
	url = https://github.com/vim-scripts/python_match.vim.git
	ignore = dirty
[submodule "bundle/indentpython.vim"]
	path = bundle/indentpython.vim
	url = https://github.com/vim-scripts/indentpython.vim.git
	ignore = dirty
#[submodule "bundle/pydoc.vim"]
#	path = bundle/pydoc.vim
#	url = https://github.com/fs111/pydoc.vim.git
#	ignore = dirty
[submodule "bundle/vim-extradite"]
	path = bundle/vim-extradite
	url = https://github.com/int3/vim-extradite.git
	ignore = dirty
[submodule "bundle/YankRing.vim"]
	path = bundle/YankRing.vim
	url = https://github.com/vim-scripts/YankRing.vim.git
	ignore = dirty
[submodule "bundle/YAIFA"]
	path = bundle/YAIFA
	url = https://github.com/Raimondi/YAIFA.git
	ignore = dirty
[submodule "bundle/molokai"]
	path = bundle/molokai
	url = https://github.com/tomasr/molokai.git
	ignore = dirty
#[submodule "bundle/python-syntax.vim"]
#	path = bundle/python-syntax.vim
#	url = https://github.com/me-vlad/python-syntax.vim.git
#	ignore = dirty
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
	ignore = dirty
[submodule "bundle/jellybeans.vim"]
	path = bundle/jellybeans.vim
	url = https://github.com/nanotech/jellybeans.vim.git
	ignore = dirty
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
	ignore = dirty
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
	ignore = dirty
[submodule "bundle/neocomplcache"]
	path = bundle/neocomplcache
	url = https://github.com/Shougo/neocomplcache.git
	ignore = dirty
[submodule "bundle/python-mode"]
	path = bundle/python-mode
	url = https://github.com/klen/python-mode.git
	ignore = dirty
[submodule "bundle/threesome.vim"]
	path = bundle/threesome.vim
	url = https://github.com/sjl/threesome.vim.git
	ignore = dirty
[submodule "bundle/SudoEdit.vim"]
	path = bundle/SudoEdit.vim
	url = https://github.com/chrisbra/SudoEdit.vim.git
	ignore = dirty
[submodule "bundle/VisIncr"]
	path = bundle/VisIncr
	url = https://github.com/vim-scripts/VisIncr.git
	ignore = dirty
[submodule "bundle/textile.vim"]
	path = bundle/textile.vim
	url = https://github.com/timcharper/textile.vim.git
	ignore = dirty
[submodule "bundle/vim-pasta"]
	path = bundle/vim-pasta
	url = https://github.com/sickill/vim-pasta.git
	ignore = dirty
[submodule "bundle/mru.vim"]
	path = bundle/mru.vim
	url = https://github.com/vim-scripts/mru.vim.git
	ignore = dirty
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
	ignore = dirty
[submodule "bundle/vundle"]
	path = bundle/vundle
	url = https://github.com/gmarik/vundle.git
	ignore = dirty
[submodule "bundle/vim-jinja"]
	path = bundle/vim-jinja
	url = https://github.com/lepture/vim-jinja.git
	ignore = dirty
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
	ignore = dirty
[submodule "bundle/PreserveNoEOL"]
	path = bundle/PreserveNoEOL
	url = https://github.com/vim-scripts/PreserveNoEOL.git
	ignore = dirty
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
	ignore = dirty
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
	ignore = dirty
[submodule "bundle/undotree"]
	path = bundle/undotree
	url = https://github.com/mbbill/undotree.git
	ignore = dirty
[submodule "bundle/emmet-vim"]
	path = bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
	ignore = dirty
[submodule "bundle/vim-signify"]
	path = bundle/vim-signify
	url = https://github.com/mhinz/vim-signify.git
	ignore = dirty
